workflows/n8n-recordatorios-pre-cita.json
{
  "name": "Recordatorios Pre-Cita",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "⏰ Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\nconst hoy = ahora.toISOString().split('T')[0];\nconst en2dias = new Date(ahora.getTime() + 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nreturn [{\n  json: {\n    ahora: ahora.toISOString(),\n    fechaMin: hoy,\n    fechaMax: en2dias,\n    tsActual: ahora.getTime()\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "📅 Calcular ventana de tiempo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'TU_SUPABASE_URL/rest/v1/citas?select=*&estado=in.(pendiente,confirmada)&business_id=eq.clinica-demo&fecha_cita=gte.' + $json.fechaMin + '&fecha_cita=lte.' + $json.fechaMax }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "TU_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer TU_SUPABASE_ANON_KEY" }
          ]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "🗄️ Obtener citas de Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Recuperar timestamp actual del nodo anterior\nconst tsActual = $('📅 Calcular ventana de tiempo').first().json.tsActual;\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const cita = item.json;\n  if (!cita.fecha_cita || !cita.hora || !cita.chat_id) continue;\n\n  // Construir timestamp de la cita y calcular diferencia en horas\n  const tsCita = new Date(cita.fecha_cita + 'T' + cita.hora + ':00').getTime();\n  const diffHoras = (tsCita - tsActual) / (1000 * 60 * 60);\n\n  // Ventana de ±30 min alrededor de cada hito\n  let accion = null;\n  if      (diffHoras >= 47.5 && diffHoras < 48.5) accion = 'recordatorio_48h';\n  else if (diffHoras >= 23.5 && diffHoras < 24.5) accion = 'recordatorio_24h';\n  else if (diffHoras >=  1.5 && diffHoras <  2.5) accion = 'recordatorio_2h';\n\n  if (accion) {\n    resultado.push({\n      json: {\n        accion,\n        chatId:      String(cita.chat_id),\n        nombre:      cita.nombre_paciente || cita.nombre || 'Paciente',\n        tratamiento: cita.tratamiento || cita.servicio || '',\n        fecha:       cita.fecha_cita,\n        hora:        cita.hora,\n        idioma:      cita.idioma || 'es'\n      }\n    });\n  }\n}\n\n// Array vacío detiene la ejecución si no hay nada que enviar\nif (resultado.length === 0) return [];\nreturn resultado;"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "🔍 Filtrar recordatorios pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "🔄 Por cada cita",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/agent",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ businessId: 'clinica-demo', action: $json.accion, data: { chatId: $json.chatId, nombre: $json.nombre, tratamiento: $json.tratamiento, fecha: $json.fecha, hora: $json.hora, idioma: $json.idioma } }) }}"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "📨 Enviar recordatorio al agente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    }
  ],
  "connections": {
    "⏰ Cada hora": {
      "main": [[{ "node": "📅 Calcular ventana de tiempo", "type": "main", "index": 0 }]]
    },
    "📅 Calcular ventana de tiempo": {
      "main": [[{ "node": "🗄️ Obtener citas de Supabase", "type": "main", "index": 0 }]]
    },
    "🗄️ Obtener citas de Supabase": {
      "main": [[{ "node": "🔍 Filtrar recordatorios pendientes", "type": "main", "index": 0 }]]
    },
    "🔍 Filtrar recordatorios pendientes": {
      "main": [[{ "node": "🔄 Por cada cita", "type": "main", "index": 0 }]]
    },
    "🔄 Por cada cita": {
      "main": [
        [{ "node": "📨 Enviar recordatorio al agente", "type": "main", "index": 0 }],
        []
      ]
    },
    "📨 Enviar recordatorio al agente": {
      "main": [[{ "node": "🔄 Por cada cita", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "active": false
}
